/* Estilização do menu de navegação */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000;
    color: #000;
}
/* Estilo do cabeçalho e links do menu de navegação */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00bcd4;
}

main {
    padding: 20px;
    text-align: center;
}

/* Estilização da seção principal (Meu perfil) */
.perfil {
    max-width: 800px;
    margin: 0 auto;
    background: #00bcd4;
    padding: 20px;
    border-radius: 5px;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: transparent;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 5px;
    margin: 5px 0;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;;
}

a:hover {
    background-color: #4a7980; /* Cor de fundo ao passar o mouse */
    color: #333; /* Cor do texto ao passar o mouse */
    border-color: #4a7980;
}